In [56]:
import pandas as pd
import operator
import numpy as py

In [72]:
df = pd.read_csv("../globalterrorismdb.csv", encoding = "latin-1", low_memory=False, 
                 usecols=['eventid', 'iyear','iday','success','nkill', 'nkillus', 'nwound', 'nwoundus','country',
                          'country_txt','region','region_txt','city','latitude','longitude',
                          'attacktype1','attacktype1_txt','targtype1','targtype1_txt','natlty1',
                          'natlty1_txt','weaptype1','weaptype1_txt', 'weapdetail'])
df.dropna(subset=['nkill'], inplace = True)
df.drop(df[df['nkill'] == 0].index , inplace=True)
df['location'] = df[['latitude', 'longitude']].values.tolist()
df.head(20)

,eventid,iyear,iday,country,country_txt,region,region_txt,city,latitude,longitude,...,natlty1,natlty1_txt,weaptype1,weaptype1_txt,weapdetail,nkill,nkillus,nwound,nwoundus,location
0,197000000001,1970,2,58,Dominican Republic,2,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,...,58.0,Dominican Republic,13,Unknown,NaN,1.0,NaN,0.0,NaN,"[18.456792, -69.951164]"
2,197001000001,1970,0,160,Philippines,5,Southeast Asia,Unknown,15.478598,120.599741,...,217.0,United States,13,Unknown,NaN,1.0,NaN,0.0,NaN,"[15.478598000000002, 120.599741]"
16,197001110001,1970,11,65,Ethiopia,11,Sub-Saharan Africa,Unknown,NaN,NaN,...,217.0,United States,13,Unknown,NaN,1.0,NaN,0.0,NaN,"[nan, nan]"
25,197001200001,1970,20,83,Guatemala,2,Central America & Caribbean,Guatemala City,14.622869,-90.529068,...,216.0,Great Britain,13,Unknown,NaN,1.0,NaN,0.0,NaN,"[14.622869, -90.52906800000001]"
59,197002100001,1970,10,362,West Germany (FRG),8,Western Europe,Munich,48.139126,11.580186,...,97.0,Israel,5,Firearms,Automatic firearms,1.0,NaN,NaN,NaN,"[48.139126, 11.580186]"
62,197002130002,1970,13,362,West Germany (FRG),8,Western Europe,Munich,48.139126,11.580186,...,75.0,Germany,8,Incendiary,Incendiary,7.0,NaN,9.0,NaN,"[48.139126, 11.580186]"
66,197002160001,1970,16,217,United States,1,North America,San Francisco,37.755363,-122.443352,...,217.0,United States,6,Explosives,Explosive,1.0,NaN,0.0,NaN,"[37.755363, -122.443352]"
80,197002210002,1970,21,199,Switzerland,8,Western Europe,Zurich,47.368650,8.539182,...,199.0,Switzerland,6,Explosives,Explosive,47.0,NaN,0.0,NaN,"[47.36865, 8.539182]"
111,197003050003,1970,5,217,United States,1,North America,San Juan,18.386932,-66.061127,...,217.0,United States,5,Firearms,NaN,2.0,2.0,0.0,0.0,"[18.386932, -66.061127]"
119,197003090006,1970,9,217,United States,1,North America,Bel Air,39.538940,-76.348479,...,217.0,United States,6,Explosives,Police believed that the bomb had an electric ...,2.0,2.0,0.0,0.0,"[39.538940000000004, -76.348479]"
142,197003200002,1970,20,217,United States,1,North America,Detroit,42.331685,-83.047924,...,217.0,United States,5,Firearms,Three shots fired,1.0,1.0,0.0,0.0,"[42.331685, -83.047924]"
150,197003240001,1970,24,160,Philippines,5,Southeast Asia,Angeles,15.153002,120.591942,...,217.0,United States,13,Unknown,NaN,1.0,1.0,0.0,0.0,"[15.153001999999999, 120.59194199999999]"
161,197003310001,1970,31,83,Guatemala,2,Central America & Caribbean,Guatemala City,14.622869,-90.529068,...,75.0,Germany,13,Unknown,NaN,1.0,NaN,0.0,NaN,"[14.622869, -90.52906800000001]"
169,197004020001,1970,2,160,Philippines,5,Southeast Asia,Mabalacat City,15.185916,120.541870,...,217.0,United States,13,Unknown,NaN,2.0,NaN,0.0,NaN,"[15.185916, 120.54186999999999]"
171,197004030001,1970,3,96,Ireland,8,Western Europe,Dublin,53.361675,-6.245485,...,96.0,Ireland,5,Firearms,Firearm,1.0,NaN,NaN,NaN,"[53.361675, -6.2454849999999995]"
210,197004210001,1970,21,160,Philippines,5,Southeast Asia,Cauayan,NaN,NaN,...,160.0,Philippines,6,Explosives,Explosive,36.0,NaN,0.0,NaN,"[nan, nan]"
223,197004240002,1970,24,217,United States,1,North America,Baltimore,39.308342,-76.616104,...,217.0,United States,5,Firearms,.45 caliber semi-automatic pistol and .38 cali...,1.0,1.0,1.0,1.0,"[39.308341999999996, -76.616104]"
253,197005040001,1970,4,158,Paraguay,3,South America,Asuncion,-25.282773,-57.635610,...,97.0,Israel,5,Firearms,Automatic firearm,1.0,NaN,1.0,NaN,"[-25.282773000000002, -57.63561]"
274,197005090003,1970,9,217,United States,1,North America,Sacramento,38.551295,-121.471066,...,217.0,United States,5,Firearms,Sniper; a total of six bullets fired,1.0,1.0,0.0,0.0,"[38.551295, -121.471066]"
291,197005150004,1970,15,217,United States,1,North America,Seattle,47.610786,-122.331306,...,217.0,United States,6,Explosives,Three sticks of dynamite taped to a fuse and b...,1.0,1.0,0.0,0.0,"[47.610786, -122.33130600000001]"

In [54]:
reg = df[['region', 'region_txt']]
reg_num = dict(zip(reg.region, reg.region_txt))
reg_num

{6: 'South Asia',
 11: 'Sub-Saharan Africa',
 10: 'Middle East & North Africa',
 5: 'Southeast Asia',
 8: 'Western Europe',
 9: 'Eastern Europe',
 3: 'South America',
 7: 'Central Asia',
 1: 'North America',
 4: 'East Asia',
 2: 'Central America & Caribbean',
 12: 'Australasia & Oceania'}

In [69]:
country = df[['country', 'country_txt']]
c_name = country.loc[country['country_txt'] == 'Iraq']
c_num = dict(zip(country.country, country.country_txt))
sorted_c = sorted(c_num.items(), key=operator.itemgetter(0))
sorted_c

[(4, 'Afghanistan'),
 (5, 'Albania'),
 (6, 'Algeria'),
 (8, 'Angola'),
 (12, 'Armenia'),
 (14, 'Australia'),
 (15, 'Austria'),
 (16, 'Azerbaijan'),
 (18, 'Bahrain'),
 (19, 'Bangladesh'),
 (21, 'Belgium'),
 (25, 'Bhutan'),
 (28, 'Bosnia-Herzegovina'),
 (30, 'Brazil'),
 (32, 'Bulgaria'),
 (33, 'Burkina Faso'),
 (34, 'Burundi'),
 (35, 'Belarus'),
 (36, 'Cambodia'),
 (37, 'Cameroon'),
 (38, 'Canada'),
 (41, 'Central African Republic'),
 (42, 'Chad'),
 (43, 'Chile'),
 (44, 'China'),
 (45, 'Colombia'),
 (47, 'Republic of the Congo'),
 (49, 'Costa Rica'),
 (50, 'Croatia'),
 (51, 'Cuba'),
 (54, 'Czech Republic'),
 (55, 'Denmark'),
 (56, 'Djibouti'),
 (58, 'Dominican Republic'),
 (59, 'Ecuador'),
 (60, 'Egypt'),
 (62, 'Equatorial Guinea'),
 (63, 'Eritrea'),
 (64, 'Estonia'),
 (65, 'Ethiopia'),
 (67, 'Fiji'),
 (68, 'Finland'),
 (69, 'France'),
 (74, 'Georgia'),
 (75, 'Germany'),
 (78, 'Greece'),
 (83, 'Guatemala'),
 (84, 'Guinea'),
 (85, 'Guinea-Bissau'),
 (86, 'Guyana'),
 (87, 'Haiti'),
 (88, 'Honduras'),
 (90, 'Hungary'),
 (92, 'India'),
 (93, 'Indonesia'),
 (94, 'Iran'),
 (95, 'Iraq'),
 (96, 'Ireland'),
 (97, 'Israel'),
 (98, 'Italy'),
 (99, 'Ivory Coast'),
 (101, 'Japan'),
 (102, 'Jordan'),
 (103, 'Kazakhstan'),
 (104, 'Kenya'),
 (106, 'Kuwait'),
 (107, 'Kyrgyzstan'),
 (108, 'Laos'),
 (109, 'Latvia'),
 (110, 'Lebanon'),
 (111, 'Lesotho'),
 (112, 'Liberia'),
 (113, 'Libya'),
 (118, 'Macedonia'),
 (119, 'Madagascar'),
 (120, 'Malawi'),
 (121, 'Malaysia'),
 (122, 'Maldives'),
 (123, 'Mali'),
 (124, 'Malta'),
 (128, 'Mauritania'),
 (130, 'Mexico'),
 (132, 'Moldova'),
 (136, 'Morocco'),
 (137, 'Mozambique'),
 (138, 'Myanmar'),
 (139, 'Namibia'),
 (141, 'Nepal'),
 (142, 'Netherlands'),
 (145, 'Nicaragua'),
 (146, 'Niger'),
 (147, 'Nigeria'),
 (151, 'Norway'),
 (153, 'Pakistan'),
 (155, 'West Bank and Gaza Strip'),
 (156, 'Panama'),
 (158, 'Paraguay'),
 (159, 'Peru'),
 (160, 'Philippines'),
 (161, 'Poland'),
 (164, 'Qatar'),
 (167, 'Russia'),
 (168, 'Rwanda'),
 (173, 'Saudi Arabia'),
 (174, 'Senegal'),
 (175, 'Serbia-Montenegro'),
 (177, 'Sierra Leone'),
 (181, 'Solomon Islands'),
 (182, 'Somalia'),
 (183, 'South Africa'),
 (185, 'Spain'),
 (186, 'Sri Lanka'),
 (190, 'St. Lucia'),
 (195, 'Sudan'),
 (198, 'Sweden'),
 (199, 'Switzerland'),
 (200, 'Syria'),
 (201, 'Taiwan'),
 (202, 'Tajikistan'),
 (203, 'Tanzania'),
 (205, 'Thailand'),
 (208, 'Tunisia'),
 (209, 'Turkey'),
 (210, 'Turkmenistan'),
 (213, 'Uganda'),
 (214, 'Ukraine'),
 (215, 'United Arab Emirates'),
 (217, 'United States'),
 (218, 'Uruguay'),
 (219, 'Uzbekistan'),
 (222, 'Venezuela'),
 (228, 'Yemen'),
 (229, 'Democratic Republic of the Congo'),
 (231, 'Zimbabwe'),
 (235, 'Yugoslavia'),
 (347, 'East Timor'),
 (422, 'International'),
 (603, 'United Kingdom'),
 (1001, 'Serbia'),
 (1002, 'Montenegro'),
 (1003, 'Kosovo'),
 (1004, 'South Sudan')]

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56527 entries, 69837 to 181687
Data columns (total 24 columns):
eventid            56527 non-null int64
iyear              56527 non-null int64
iday               56527 non-null int64
country            56527 non-null int64
country_txt        56527 non-null object
region             56527 non-null int64
region_txt         56527 non-null object
city               56238 non-null object
latitude           56146 non-null float64
longitude          56146 non-null float64
success            56527 non-null int64
attacktype1        56527 non-null int64
attacktype1_txt    56527 non-null object
targtype1          56527 non-null int64
targtype1_txt      56527 non-null object
natlty1            56144 non-null float64
natlty1_txt        56144 non-null object
weaptype1          56527 non-null int64
weaptype1_txt      56527 non-null object
weapdetail         24372 non-null object
nkill              56527 non-null float64
nkillus            56266 non-null float64
nwound             53024 non-null float64
nwoundus           56122 non-null float64
dtypes: float64(7), int64(9), object(8)
memory usage: 13.3+ MB

In [73]:
new_df = df.to_csv("../parsed_gtdb.csv")